<!DOCTYPE html>
<html lang="en">
<head>
    {include file="common:header"/}
</head>
<link rel="stylesheet" href="__public__/static/css/style.css">
<body class="login-layout blur-login">
<div class="main-container">
    <div class="main-content">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="login-container">
                    <div class="center">
                        <h1>
                            <i class="ace-icon fa fa-leaf green"></i>
                            <span class="red">验证</span>
                            <span class="white" id="id-text2">表单</span>
                        </h1>
                        <h4 class="blue" id="id-company-text">&copy; Form</h4>
                    </div>

                    <div class="space-6"></div>

                    <div class="position-relative">
                        <div id="login-box" class="login-box visible widget-box no-border">
                            <div class="widget-body">
                                <div class="widget-main">
                                    <h4 class="header blue lighter bigger">
                                        <i class="ace-icon fa fa-coffee green"></i>
                                        请输入用户信息
                                    </h4>

                                    <div class="space-6"></div>

                                    <form id="login-form"  method="post">
                                        <input type="hidden" name="issecret" value="{$issecret}"/>
                                        <fieldset>
                                            <label class="block clearfix">
                                                <span class="block input-icon input-icon-right">
                                                    <input type="text" class="form-control"
                                                           placeholder="Username" name="username" value="{$username}" />
                                                    <i class="ace-icon fa fa-user"></i>
                                                </span>
                                            </label>

                                            <label class="block clearfix">
                                                <span class="block input-icon input-icon-right">
                                                    <input id="pwd" type="password" class="form-control"
                                                           placeholder="Password" name="password" value="{$viewPwd}" data-secret="{$password}"/>
                                                    <i class="ace-icon fa fa-lock"></i>
                                                </span>
                                            </label>

                                            <label class="block clearfix">
                                                <div class="tncode block"></div>
                                            </label>

                                            <label class="block clearfix">
                                                <span class="pull-left">
                                                    <input type="checkbox" name="remember" value="1"><span class="font rember">记住我</span>
                                                </span>
                                            </label>

                                            <div class="space"></div>

                                            <div class="clearfix">

                                                <button type="button"
                                                        class="width-35 pull-left btn btn-sm btn-primary">
                                                    <i class="ace-icon fa fa-key"></i>
                                                    <a href="{:url('index/index/register')}" style="color: white;text-decoration: none"  class="bigger-110">注册</a>
                                                </button>

                                                <button type="button" id="login-btn"
                                                        class="width-35 pull-right btn btn-sm btn-primary">
                                                    <i class="ace-icon fa fa-key"></i>
                                                    <span class="bigger-110">登录</span>
                                                </button>
                                            </div>

                                            <div class="space-4"></div>
                                        </fieldset>
                                    </form>
                                    <div class="space-6"></div>
                                </div>
                                <!-- /.widget-main -->
                            </div>
                            <!-- /.widget-body -->
                        </div>
                        <!-- /.login-box -->
                    </div>
                    <!-- /.position-relative -->
                </div>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.main-content -->
</div>
<!-- /.main-container -->

{include file="common:footer"/}
<script type="text/javascript" src="__public__/static/js/tn_code.js"></script>
<script type="text/javascript">
    $(function () {
        //清除输入框的值
        $('#pwd').keydown(function (event) {
            var keycode = event.keyCode;
            if (keycode == 8 || keycode == 46) {
                $('input[name="password"]').val('');
            }
        });

        //改变输入框的值时改变状态
        $('#pwd').change(function () {
            $('input[name="issecret"]').val('0');
        });

        //表单提交
        $('#login-btn').click(function () {
            if ($('input[name="issecret"]').val() == 1) {
                var secret = $('#pwd').data('secret');
                $('#pwd').val(secret);
            }
            $('#login-form').submit();
        });

    });

</script>
</body>
</html>
